

div.figure{
 padding:0;
 border:0;
 font-size:100%;
 font:inherit;
 vertical-align:baseline;
 width:100%;
 -webkit-margin-start:0;
 -webkit-margin-end:0;
 margin:0 0 3em 0;
}

div.figure>img{
 max-width:55%;
}

div.figure>img.fullwidth{
 max-width:88%;
}

div.figure>p.caption{
 float:right;
 clear:right;
 margin-top:0;
 margin-bottom:0;
 font-size:1.1rem;
 line-height:1.6;
 vertical-align:baseline;
 position:relative;
 width:calc(55% / 2);
 margin-right:12%;
}
